.sort-buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  
    button {
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .dropdown-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .checkbox-buttons-container {
    margin-top: 10px;
  
    label {
      margin-right: 20px;
    }
  }
  .dropdown {
    position: absolute;
    top: 110px;
    right: 0;
  }
  .image {
    width: 225px;
    height: 200px;
  }
  .search-form {
    margin-bottom: 10px;
  }
  
  .search-input {
    width: 200px;
    font-size: 14px;
  }
  
  .search-button {
    font-size: 14px;
    padding: 5px 10px;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .container {
    margin-top: 20px;
  }
  
  .unauthorized-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .unauthorized-container h1 {
    font-size: 3rem;
    color: #d9534f;
  }
  
  .unauthorized-container p {
    font-size: 1.5rem;
    color: #555;
  }

  .not-found-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .not-found-container h2 {
    font-size: 3rem;
    color: #d9534f;
  }
  
  .not-found-container p {
    font-size: 1.5rem;
    color: #555;
  }
  
  .not-found-container a {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #5bc0de;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .not-found-container a:hover {
    background-color: #31b0d5;
  }