.footer {
    background-color: #333; /* Цвет фона для подвала */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста по центру */
}

.footer__logo img {
    width: 100%; /* Ширина картинки будет 100% относительно родительского блока */
    max-width: 150px; /* Максимальная ширина картинки */
    height: auto; /* Высота будет подстраиваться автоматически, чтобы сохранить пропорции */
    display: block; /* Убираем пробелы под картинкой */
    margin: 0 auto; /* Центрируем картинку по горизонтали */
    padding: 10px; /* Отступы вокруг картинки */
}


.footer__copyright {
    font-size: 12px; /* Размер шрифта для авторского права */
    margin-top: 10px; /* Отступ сверху от авторского права */
}

.footer__contact {
    font-size: 14px; /* Размер шрифта для контактной информации */
    margin-top: 10px; /* Отступ сверху от контактной информации */
}

