/* Стили для темного режима */
.dark-mode {
    background-color: black;
    color: white;
  }
  
  /* Стили для светлого режима */
  .light-mode {
    background-color: white;
    color: black;
  }
  